node_modules/
.env
.env.*
!.env.example
.DS_Store
client/build/
*.log
dist/
backend.log
client/node_modules/
*.md
!package.json
render.yaml
Procfile
craco.config.js
postcss.config.js
tailwind.config.js
.vercel
.env*.local
